<h1>Roster</h1>
<h2>{{guild.name}} ({{guild.guildMembers.length}})</h2>

<div class="alert alert-success">
  <h4>Update!</h4>
  <p>Click on any row in the roster list to view details for that character.</p>
  <p>Note: Gems and Enchants are not showing yet, but I'm working on getting those to display along with item set count.</p>
</div>

<div>
  <table class="table table-responsive" style="background-color: black">

    <thead>
    <tr style="color: white">
      <th>Rank</th>
      <th>Name</th>
      <th>Level</th>
      <th>Class</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let guildMember of guild.guildMembers" style="cursor: hand"
        class="{{guildMember.class}}"
        [ngStyle]="{'color': guildMember.character.getClassColor()}" (click)="navigateToCharacterDetails(guildMember.character.name)">
      <td>{{guildMember.guildRank.rankName}}</td>
      <td>{{guildMember.character.name}}</td>
      <td>{{guildMember.character.level}}</td>
      <td>{{guildMember.character.classSpec.name}} {{guildMember.character.class}}</td>
    </tr>
    </tbody>

  </table>
</div>
