<h1>Roster</h1>

<div class="alert alert-warning">

  <h4>Mythic Roster</h4>

  <p><strong>If you are on this list, you are expected to attend Raid Nights Thursday and Friday @ 7pm Server.</strong></p>
  <br/>
  <p>We all have lives, if you can't make a Raid Night please just let an officer know through one of our various mediums (Facebook, in-game mail/chat, Discord, etc.).
    <strong>If you are not on this list, you should still show up for Raid Nights.</strong> The schedule can change at any point, we could be doing Heroic or need subs for missing people.</p>
  <br/>
  <p><i>This list is subject to change at any time, please do not be discouraged if your name is not here.</i></p>

</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#mythic" data-toggle="tab" aria-expanded="true">Mythic Raid Roster</a></li>
  <li class=""><a href="#guild" data-toggle="tab" aria-expanded="false">Full Guild Roster</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="mythic">

    <div class="btn-group">

      <div class="btn-group" style="padding-top: 1.25em">

        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Tier Group: {{currentTierGroupFilter}} <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <li (click)="filterTierGroup('All')"><a>All</a></li>
          <li role="separator" class="divider"></li>
          <li *ngFor="let tierGroup of tierGroups" (click)="filterTierGroup(tierGroup)"><a>{{tierGroup}}</a></li>
        </ul>

      </div>

      <div class="btn-group" style="padding-top: 1.25em">

        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Item Slot: {{currentSlotFilter}} <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <li (click)="filterTierSlot('All')"><a>All</a></li>
          <li role="separator" class="divider"></li>
          <li *ngFor="let tierSlot of tierSlots" (click)="filterTierSlot(tierSlot)"><a>{{tierSlot}}</a></li>
        </ul>

      </div>
    </div>

    <mythic-roster-table [memberList]="mythicTanks"
                         [label]="'Tanks'"
                         [tierSlots]="activeTierSlots"></mythic-roster-table>

    <mythic-roster-table [memberList]="mythicHeals"
                         [label]="'Heals'"
                         [tierSlots]="activeTierSlots"></mythic-roster-table>

    <mythic-roster-table [memberList]="mythicRanged"
                         [label]="'Ranged'"
                         [tierSlots]="activeTierSlots"></mythic-roster-table>

    <mythic-roster-table [memberList]="mythicMelee"
                         [label]="'Melee'"
                         [tierSlots]="activeTierSlots"></mythic-roster-table>

  </div>

  <div class="tab-pane fade" id="guild">
    <roster-table [memberList]="guild.guildMembers" [label]="'Cinder and Ash'"></roster-table>
  </div>

</div>



