<div class="container-fluid">

  <div class="jumbotron">
    <h2>Roster</h2>
    <h4>Mythic Roster</h4>

    <p><strong>If you are on this list, you are expected to attend Raid Nights Wednesday and Thursday @ 7pm
      Server.</strong>
    </p>
    <br/>
    <p>We all have lives, if you can't make a Raid Night please post in the #attendance Discord channel.
      <strong>If you are not on this list, you should still show up for Raid Nights.</strong>
    <br/>
    <p><i>This list is subject to change at any time, please do not be discouraged if your name is not here.</i></p>

  </div>

  <div *ngIf="isLoading">
    <spinner></spinner>
    <div class="text-center h4">Fetching Guild and Armory Data</div>
  </div>

  <div *ngIf="!isLoading">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#mythic" data-toggle="tab" aria-expanded="true">Mythic Raid Roster</a></li>
      <li class=""><a href="#guild" data-toggle="tab" aria-expanded="false">Full Guild Roster</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="mythic">

        <div class="btn-group">

          <div class="btn-group" style="padding-top: 1.25em">

            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Tier Group: {{currentTierGroupFilter}} <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <li (click)="filterTierGroup('All')"><a>All</a></li>
              <li role="separator" class="divider"></li>
              <li *ngFor="let tierGroup of tierGroups" (click)="filterTierGroup(tierGroup)"><a>{{tierGroup}}</a></li>
            </ul>

          </div>

          <div class="btn-group" style="padding-top: 1.25em">

            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Item Slot: {{currentSlotFilter}} <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <li (click)="filterTierSlot('All')"><a>All</a></li>
              <li role="separator" class="divider"></li>
              <li *ngFor="let tierSlot of tierSlots" (click)="filterTierSlot(tierSlot)"><a>{{tierSlot}}</a></li>
            </ul>

          </div>

        </div>

        <mythic-roster-table [memberList]="mythicTanks"
                             [label]="'Tanks'"
                             [currentRaidFilter]="currentRaidFilter"
                             [tierSlots]="activeTierSlots"></mythic-roster-table>

        <mythic-roster-table [memberList]="mythicHeals"
                             [label]="'Heals'"
                             [currentRaidFilter]="currentRaidFilter"
                             [tierSlots]="activeTierSlots"></mythic-roster-table>

        <mythic-roster-table [memberList]="mythicRanged"
                             [label]="'Ranged'"
                             [currentRaidFilter]="currentRaidFilter"
                             [tierSlots]="activeTierSlots"></mythic-roster-table>

        <mythic-roster-table [memberList]="mythicMelee"
                             [label]="'Melee'"
                             [currentRaidFilter]="currentRaidFilter"
                             [tierSlots]="activeTierSlots"></mythic-roster-table>

        <mythic-roster-table [memberList]="mythicBench"
                             [label]="'Bench'"
                             [currentRaidFilter]="currentRaidFilter"
                             [tierSlots]="activeTierSlots"></mythic-roster-table>

        <mythic-roster-table [memberList]="mythicTrials"
                             [label]="'Trials'"
                             [currentRaidFilter]="currentRaidFilter"
                             [tierSlots]="activeTierSlots"></mythic-roster-table>

      </div>

      <div class="tab-pane fade" id="guild">
        <roster-table [memberList]="guild.guildMembers" [label]="'Cinder and Ash'"></roster-table>
      </div>

    </div>
  </div>


</div>
