<div id="top">
  <h1>Welcome to Cinder and Ash</h1>

  <div class="row">

    <div class="col-md-6">

      <div class="alert alert-warning">
        <h4>Rated Battlegrounds!</h4>
        <p>Rated Battlegrounds Wednesday @ 7pm Server Time!</p>
        <p>Come get that rating and AP. All are welcome!</p>
      </div>

    </div>

    <div class="col-md-6">

      <div class="alert alert-info">
        <h4>Mythic Roster</h4>
        <p>Mythic Roster has been posted <a href="/roster">here</a> and is subject to change.</p>
        <p>Tier Tracking incoming shortly!</p>
      </div>

    </div>

  </div>

  <h2>Mythic Nighthold Videos</h2>

  <div class="row">

    <div class="col-md-4">

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let video of raidVideos" (click)="navigateToRaidVideo(video.id)">
          {{video.bossName}}
        </li>
      </ul>

    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4"></div>

  </div>

  <div id="{{video.id}}" *ngFor="let video of raidVideos">
    <h3>{{video.bossName}}</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="560" height="315" [src]="video.youtubeUrl | safe"
              frameborder="0" allowfullscreen></iframe>
    </div>
    <a (click)="navigateToTop()">Back to Top</a>
  </div>
</div>
