<div id="top">
  <h2>Welcome to Cinder and Ash</h2>

  <h3>Mythic Nighthold Videos</h3>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let video of raidVideos" (click)="navigateToRaidVideo(video.id)">{{video.bossName}}</li>
  </ul>

  <div id="{{video.id}}" *ngFor="let video of raidVideos">
    <h2>{{video.bossName}}</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="560" height="315" [src]="video.youtubeUrl | safe"
              frameborder="0" allowfullscreen></iframe>
    </div>
    <a (click)="navigateToTop()">Back to Top</a>
  </div>
</div>
