<div id="top">
  <div class="container">
  <h1>Welcome to Cinder and Ash</h1>

  <div class="h3" style="margin-bottom: 25px">
    <img src="../../../assets/horde-icon.png" height="20px" width="20px" style="margin-bottom: 5px"/>
    Horde - Mal'ganis
  </div>


    <div class="row">
      <h3 style="margin-bottom: 20px">News</h3>
      <div class="col-md-6">
        <div class="col-md-12">

          <div class="alert alert-danger">
            <h4>REQUIRED Addons</h4>
            <p>Deadly Boss Mods</p>
            <p>Weak Auras</p>
            <p>Angry Assignments</p>
            <p>Cooldown Tracker</p>
            <p>*Others might be added at officer discretion depending on need</p>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12">

          <div class="alert alert-info">
            <h4>Mythic Roster</h4>
            <p>Mythic Roster has been posted <a href="/roster">here</a> and is subject to change.</p>
          </div>

        </div>
      </div>
    </div>


    <h2 style="margin-bottom: 20px">Uldir Videos</h2>
    <div id="{{video.id}}" *ngFor="let video of raidVideos">
      <h3>{{video.bossName}}</h3>
      <div *ngIf="video.youtubeUrl" class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" [src]="video.youtubeUrl | safe"
                frameborder="0" allowfullscreen></iframe>
      </div>
      <a (click)="navigateToTop()">Back to Top</a>
    </div>
  </div>
</div>
