<h2>{{label}} ({{memberList.length}})</h2>

<div>
  <table class="table table-responsive table-striped table-bordered">

    <thead>
    <tr style="color: white">
      <th>Rank</th>
      <th>Name</th>
      <th>Level</th>
      <th>Class</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let guildMember of memberList" style="cursor: hand"
        [ngStyle]="{'color': guildMember.character.getClassColor()}" (click)="navigateToCharacterDetails(guildMember.character.name)">
        <!--class="{{guildMember.class.name}}"-->
      <td>{{guildMember.guildRank.rankName}}</td>
      <td>{{guildMember.character.name}}</td>
      <td>{{guildMember.character.level}}</td>
      <td>{{guildMember.character.class.getActiveSpec().name}} {{guildMember.character.class.name}}</td>
    </tr>
    </tbody>

  </table>
</div>
