<h2>{{label}} ({{memberList.length}})</h2>

<div>

  <table class="table table-striped table-bordered table-responsive">

    <thead>

      <tr style="color: white">
        <th class="col-md-1">iLvl</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Class</th>
        <th class="col-md-1" *ngFor="let tierSlot of tierSlots">{{tierSlot}}</th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let guildMember of memberList" style="cursor: hand"
          [ngStyle]="{'color': guildMember.character.characterClass.color}">
          <!--class="{{guildMember.character.class.name}}"-->

        <td (click)="navigateToCharacterDetails(guildMember.character.name)">{{guildMember.character.equippedItems.averageItemLevelEquipped}}</td>
        <td (click)="navigateToCharacterDetails(guildMember.character.name)">{{guildMember.character.name}}</td>
        <td (click)="navigateToCharacterDetails(guildMember.character.name)">{{guildMember.character.characterClass.getActiveSpec().name}} {{guildMember.character.characterClass.name}}</td>

        <td *ngFor="let tierSlot of tierSlots" align="center">
          <a *ngIf="guildMember.character.tierAssessment.hasPiece(tierSlot.toLowerCase())" href="http://www.wowhead.com/item={{guildMember.character.equippedItems[tierSlot.toLowerCase()].id}}"
             rel='{{generateRelBonusForWowhead(guildMember.character.equippedItems[tierSlot.toLowerCase()])}}'
             class="q{{guildMember.character.equippedItems[tierSlot.toLowerCase()].quality}}">{{guildMember.character.equippedItems[tierSlot.toLowerCase()].itemLevel}}</a>

          <a *ngIf="!guildMember.character.tierAssessment.hasPiece(tierSlot.toLowerCase())
          && guildMember.character.tierAssessment.needsBis(tierSlot.toLowerCase())"
             style="border: solid 5px purple">BiS</a>
        </td>

      </tr>

    </tbody>

  </table>
</div>
