<h2>{{label}} ({{memberList.length}})</h2>

<div>
  <table class="table table-responsive" style="background-color: black">

    <thead>
      <tr style="color: white">
        <th class="col-md-1">iLvl</th>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Class</th>
        <th class="col-md-1">Head</th>
        <th class="col-md-1">Shoulders</th>
        <th class="col-md-1">Chest</th>
        <th class="col-md-1">Back</th>
        <th class="col-md-1">Hands</th>
        <th class="col-md-1">Legs</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let guildMember of memberList" style="cursor: hand"
          class="{{guildMember.class}}"
          [ngStyle]="{'color': guildMember.character.getClassColor()}">
        <td>{{guildMember.character.equippedItems.averageItemLevelEquipped}}</td>
        <td>{{guildMember.character.name}}</td>
        <td>{{guildMember.character.classSpec.name}} {{guildMember.character.class}}</td>

        <td *ngFor="let tierSlot of tierSlots">
          <a *ngIf="guildMember.character.tierAssessment.hasPiece(tierSlot)" href="http://www.wowhead.com/item={{guildMember.character.equippedItems[tierSlot].id}}"
             rel='{{generateRelBonusForWowhead(guildMember.character.equippedItems[tierSlot])}}'
             class="q{{guildMember.character.equippedItems[tierSlot].quality}}">{{guildMember.character.equippedItems[tierSlot].itemLevel}}</a>
        </td>

      </tr>
    </tbody>

  </table>
</div>
